.hamburger-menu {
    background: none;
    border: none;
    font-size: 24px;
    margin: 10px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    #sidebar {
      display: none;
    }
  }